@page "/membership"
@model BodyGenesis.Presentation.Website.Pages.Membership.MyMembershipModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@section scripts {
    <script>
        $("[data-toggle='tooltip']").tooltip();
    </script>
}

@{
    ViewData["Title"] = "My Membership";

    var membership = Model.Customer.CurrentMembershipSubscription;
    var underage = Model.Customer.DateOfBirth?.AddYears(16) > DateTime.Now;
}

<form class="mb-4" method="post">
    <div class="form-row">
        <div class="col">
            <h3>Personal Information</h3>
        </div>
    </div>

    <div class="form-row">
        <div class="col-6">

            <div class="form-group">
                <label for="Customer_Name">Full Name</label>
                <input asp-for="Customer.Name" class="form-control" required />
            </div>

        </div>
        <div class="col-6">

            <div class="form-group">
                <label for="Customer_PreferredLocation">Preferred Location</label>
                <select asp-for="Customer.PreferredLocation" asp-items="Model.PreferredLocationOptions" class="form-control" required>
                    <option disabled hidden selected>Select your Preferred Location</option>
                </select>
            </div>

        </div>
    </div>

    <div class="form-row">

        <div class="col-6">

            <div class="form-group">
                <label for="Customer_EmailAddress">Email</label>
                <input asp-for="Customer.EmailAddress" class="form-control" type="email" required />
            </div>

        </div>

        <div class="col-6">

            <div class="form-group">
                <label for="Customer_DateOfBirth">Date of Birth</label>
                <input asp-for="Customer.DateOfBirth" class="form-control" type="date" required />
            </div>

        </div>

    </div>

    <div class="form-row">

        <div class="col-6">

            <div class="form-group">
                <label for="Customer_PhoneNumber">Phone Number</label>
                <input asp-for="Customer.PhoneNumber" class="form-control" placeholder="(xxx) xxx-xxxx" required />
            </div>

        </div>

        <div class="col-6">

            <div class="form-group">
                <label for="Customer_Address">Address</label>
                <input asp-for="Customer.Address" class="form-control" required />
            </div>

        </div>

    </div>

    <div class="form-row">

        <div class="col-4">

            <div class="form-group">
                <label for="Customer_City">City</label>
                <input asp-for="Customer.City" class="form-control" required />
            </div>

        </div>

        <div class="col-4">

            <div class="form-group">
                <label for="Customer_State">State</label>
                <select asp-for="Customer.State" asp-items="Model.StateOptions" class="form-control" value="Pennsylvania" required>
                    <option disabled hidden selected>Select a State</option>
                </select>
            </div>

        </div>

        <div class="col-4">

            <div class="form-group">
                <label for="Customer_ZipCode">Zip Code</label>
                <input asp-for="Customer.ZipCode" class="form-control" required />
            </div>

        </div>

    </div>

    <div class="form-row">
        <div class="col">
            <div class="d-flex justify-content-end">
                <button class="btn btn-success" type="submit">Save Changes</button>
            </div>
        </div>
    </div>
</form>

@if (membership == null)
{
    @if (underage)
    {
        <div class="form-row">
            <div class="col">
                <div class="d-flex align-items-center justify-content-center">
                    <span class="text-muted">Sorry, you must be 16 or older to start a new solo membership. Please ask your parent or guardian to add you to their membership!</span>
                </div>
            </div>
        </div>
    }

    else if (!Model.Customer.CanStartMembership)
    {
        <div class="form-row">
            <div class="col">
                <div class="d-flex align-items-center justify-content-center">
                    <span class="font-weight-bold">Please complete your profile above before starting a new membership.</span>
                </div>
            </div>
        </div>
    }

    else
    {
        <div class="form-row">
            <div class="col">
                <div class="d-flex align-items-center justify-content-center">
                    <a class="btn btn-primary" href="/membership/join">Start a New Membership</a>
                </div>
            </div>
        </div>
    }
}

else
{
    <div class="form-row">
        <div class="col">
            <h3>Membership</h3>
        </div>
    </div>

    <div class="form-row">
        <div class="col">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@membership.Plan.Name</h5>
                    <h6 class="card-subtitle">$@membership.Plan.GetRateForQuantity(membership.Quantity)/@membership.Plan.BillingPeriod.ToDisplayText() &dagger;</h6>
                    <p class="card-text">
                        @if (membership.Quantity > 1)
                        {
                            <span>Your membership covers you and @(membership.Quantity - 1) family member(s).</span>
                        }
                    </p>
                    @if (!membership.Active)
                    {
                        <p class="card-text">
                            Great! You're all signed up! You'll just need to stop in during office hours to pick up your key fobs.
                            Once you have those, you'll have 24/7 access!
                        </p>
                    }
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-link text-secondary mr-2" href="/membership/review-signed-agreement">View Membership Agreement</a>

                        @if (membership.CanCancel)
                        {
                            <a class="btn btn-outline-danger" href="/membership/cancel" data-toggle="tooltip" data-placement="top" title="Cancellations made after the 15th will not be processed until next month.">Request Cancellation &Dagger;</a>
                        }

                        else if (membership.CancellationRequested)
                        {
                            <button class="btn btn-outline-danger" disabled>Cancellation Pending &Dagger;</button>
                        }

                        else if (!membership.Active)
                        {
                            <button class="btn btn-outline-primary" disabled>Pending Keyfob Pick-up</button>
                        }
                    </div>
                </div>
                <div class="card-footer">
                    <span class="text-muted" style="font-size:0.75rem;">&dagger; Memberships are billed on the 1st of each month.</span><br />
                    @if (membership.CanCancel || membership.CancellationRequested)
                    {
                        <span class="text-muted" style="font-size:0.75rem;">&Dagger; Cancellation will be effective on @membership.CancellationEffectiveDate.ToShortDateString().</span>
                    }
                </div>
            </div>

        </div>
    </div>
}

@if (Model.Customer.PaymentMethods.Count > 0)
{
    <div class="form-row mt-4">
        <div class="col">
            <h3>Payment Methods</h3>
        </div>
    </div>

    <div class="form-row">
        <div class="col">
            <p>
                We require two payment methods to be on file at all times. If you would like to remove one, please add an alternate first.
                All payment methods are removed upon cancellation of your membership.
            </p>
        </div>
    </div>

    <div class="form-row">
        <div class="col">
            <ul class="list-group">
                @foreach (var paymentMethod in Model.Customer.PaymentMethods)
                {
                    <li class="list-group-item">
                        <div class="d-flex justify-content-around">
                            <span>@paymentMethod.Type.ToString()</span>
                            <span class="font-weight-bold">@paymentMethod.AccountNumberHint</span>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
}
