@page "/backoffice/customers/{customerId}"
@model BodyGenesis.Presentation.Website.Pages.Backoffice.PendingCustomerModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    var customer = Model.Customer;
    var subscription = Model.Customer.CurrentMembershipSubscription;
}

<div class="row my-2">
    <div class="col">
        <h3>@Model.Customer.Name</h3>
    </div>
</div>

<div class="row my-2">
    <div class="col-6">
        @if (subscription == null)
        {
            <div class="row mb-2">
                <div class="col">
                    <strong>No Membership Plan</strong>
                </div>
            </div>
        }

        else
        {
            <div class="row mb-2">
                <div class="col">
                    <strong>Membership Plan</strong><br />
                    <span>@subscription.Plan.Name</span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <strong>Rate</strong><br />
                    <span>$@subscription.Plan.GetRateForQuantity(subscription.Quantity) @subscription.Plan.BillingPeriod.ToDisplayText()</span>
                </div>
            </div>

            @if (customer.CurrentMembershipSubscription.Plan.BillingPeriod == BillingPeriod.Month)
            {
                <div class="row mb-2">
                    <div class="col">
                        <strong>Pro-Rated Rate (for Initial Charges)</strong><br />
                        <span>$@subscription.Plan.GetProRatedRateForQuantity(subscription.Quantity)</span>
                    </div>
                </div>
            }
        }

        <div class="row mb-2">
            <div class="col">
                <strong>Preferred Location</strong><br />
                <span>@customer.PreferredLocation</span>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col">
                <strong>Email Address</strong><br />
                <span>@customer.EmailAddress</span>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col">
                <strong>Phone Number</strong><br />
                <span>@customer.PhoneNumber</span>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col">
                <strong>Address</strong><br />
                <span>@customer.Address, @customer.City, @customer.State, @customer.ZipCode</span>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col">
                <strong>Date of Birth</strong><br />
                <span>@customer.DateOfBirth?.ToShortDateString()</span>
            </div>
        </div>

    </div>
    <div class="col-6">
        <div class="d-flex flex-column">
            @foreach (var paymentMethod in Model.Customer.PaymentMethods)
            {
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@paymentMethod.Type.ToString()</h5>
                    </div>
                    <ul class="list-group list-group-flush">

                        @if (paymentMethod.Type == PaymentMethodType.BankAccount)
                        {
                            <li class="list-group-item">
                                <h6>Routing Number</h6>
                                <span>@paymentMethod.RoutingNumber</span>
                            </li>
                        }

                        <li class="list-group-item">
                            <h6>Account Number</h6>
                            <span>@paymentMethod.GetPlainTextAccountNumber(Configuration["BodyGenesis:Shared:EncryptionKey"])</span>
                        </li>

                        @if (paymentMethod.Type == PaymentMethodType.CreditCard)
                        {
                            <li class="list-group-item">
                                <h6>Expiration</h6>
                                <span>@paymentMethod.ExpirationDate.Value.ToString("MMMM yyyy")</span>
                            </li>
                        }

                    </ul>
                </div>
            }
        </div>
    </div>
</div>

@if (subscription != null)
{
    <div class="row my-2">
        <div class="col">
            <div class="d-flex justify-content-end">
                <form method="post">
                    <input asp-for="CustomerId" type="hidden" />

                    @if (!subscription.Active && !subscription.CancellationCompleted)
                    {
                        <input class="btn btn-success ml-2" asp-for="SubmitAction" type="submit" value="Confirm Keyfob Pick-up" />
                    }

                    @if (subscription.CancellationRequested && !subscription.CancellationCompleted)
                    {
                        <input class="btn btn-danger ml-2" asp-for="SubmitAction" type="submit" value="Confirm Cancellation" />
                    }
                </form>
            </div>
        </div>
    </div>
}
